


<div class="ui text container">
	<div class="ui large form">
	<%= form_for(@user, html: {class: "ui form", role: "form"}, url: newAccount_path) do |f| %>

			<div class="field">	
				<%= f.label :username %>
			 <%= f.text_field :username, placeholder: "Username" %>
				</div>
				<div class="field">
			<%= f.label :password %>
			<%= f.password_field :password, placeholder: "Password"%>


				</div>
			   <%= f.submit "Sign Up", class: "ui green submit button" %>

	</form>		<div class="row">
				<a href="/">[ Cancel Request ]</a>
			</div>

		    <% end %>

	</div>
</div>