       <%= link_to "Customer Service", root_path, class: "item" %>
        <a class="item">
          Messages
        </a>
        <div class="right menu">
         <% if @logged_user != nil then %>
          <a class="item">
            <%= @logged_user.username.to_s%>
          </a>
         <% end %>
          <div class="ui dropdown item">
            Account <i class="dropdown icon"></i>
            <div class="menu">
            <% if logged_in?%>
            <%= link_to "Logout", logout_path, class: "item" %>
              <% else %>
                <%= link_to "Log in", login_path, class: "item" %>
              <%end%> 
            </div>
          </div>
          <% if !logged_in? %>
           <div class="item">
            <% link_to "Log in", login_path, class: "ui primary button" %>
            <%= link_to "Sign up ", registration_path,  class: "ui primary button" %>
          </div>
          <%end%>
        </div>
      </div>


      <%-# This is a partial it is used so one html file is not too crowded -%>
