<!DOCTYPE html>
<html>
  <head>
    <title>CustomerServiceChat</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

   <div class="ui small inverted menu">
      <div class="ui container">
       <%= render 'layouts/navigation' %>  
    </div>
    <%- # The render line of code is used to render the partial -%>
    <div class="ui container">
      <%= yield %>
    </div>
    </body>
  </html>



<%-# Code inn this file shows up in all views. Added an inverted nav bar -%>